body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 34px);
    width: 544px;
    height: 544px;
    border-style: solid;
}

#pixel {
    width: 34px;
    height: 34px;
}

.color-fill {
    background-color: black;
}